@media (max-width: 400px){
    #index_aside {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        section {
            margin-left: 10px;
            margin-right: 10px;

            img {
                height: 4rem;
                width: 4rem;
            }
        }
    }

    #index_main_event {
        a {
            text-align: left;
            margin-right: 0px;
            margin-left: 5px;
        }
    }

    #index_main_playlist {
        a {
            justify-content: flex-start;
            margin-right: 0px;
            margin-left: 5px;
        }
    }

    #index_main_cover {
        a {
            justify-content: flex-start;
            margin-right: 0px;
            margin-left: 5px;
        }
    }
}