@media (max-width: 680px) {
    #index_main {
        grid-template-areas:
            " index_main_event "
            " index_main_playlist "
            " index_main_cover ";
        grid-template-columns: 1fr;
        grid-row-gap: 3px;
    }

    #index_up_header {
        flex-direction: column;
        align-items: center;
    }
}